// Colors
$body-font-color: #868e96;
$headers-font-color: #343a40;
$primary-color: #27357e;
$secondary-color: #0052a5;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$sidebar-size: 17rem;